*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Robboto", Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    background-color: #f5f5f5;
    place-items: center;
    height: 100vh;
}
.sign-up-form{
    display: flex;
    background-color: #ffffff;
    height: 33em;
    align-items: center;
    gap: 2em;
}
.details{
    margin-left: 20px;
}
form{
    width: 18em;
}
form button{
    width: 260.57px;
    height: 35px;
    margin-top: 8px;
    color: #ffffff;
    background-color: #000000;
}
form div{
    margin-top: 0.3em;
}
input{
    height: 30px;
}
input:focus {
    outline: none;
    border: 2px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
}
.alternative{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.5s ease;
}
.social a:hover{
    background-color: black;
    color: #ffffff;
}
p a{
    color: #5959ff;
    text-decoration: none;
}
.content{
    background-color:  #000000;
    color: #ffffff;
    height: 100%;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome p:last-of-type {
    font-size: 12px;
}
.welcome button{
    border-radius: 25px;
    padding: 3px;
    width: 12em;
    margin-top: 1.2em;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.error{
    color: red;
    font-size: 0.758em;
}
.inputerror{
    outline: none;
    border: 2px solid #ff0000;
    box-shadow: 0 0 3px #ff0000;
}